.link {
    text-decoration: none !important;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link:hover{
    background-color:unset !important;
    border: solid .1rem #dc3545;
    transition: .05s;
    transform: scale(1.01);
}
